apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/wekamlesh/snorlax.git
    targetRevision: master
    path: k8s/apps/n8n
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: "n8n.ingress.hosts[0].host"
          value: "n8n.kamleshmerugu.me"
        - name: "n8n.ingress.tls[0].hosts[0]"
          value: "n8n.kamleshmerugu.me"
        - name: "n8n.env.WEBHOOK_URL"
          value: "https://n8n.kamleshmerugu.me/"
  destination:
    server: https://kubernetes.default.svc
    namespace: n8n
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
