apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/wekamlesh/snorlax.git
    targetRevision: master
    path: k8s/apps/uptime-kuma
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: "uptime-kuma.ingress.hosts[0].host"
          value: "uptime.kamleshmerugu.me"
        - name: "uptime-kuma.ingress.tls[0].hosts[0]"
          value: "uptime.kamleshmerugu.me"
  destination:
    server: https://kubernetes.default.svc
    namespace: uptime-kuma
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
