apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/wekamlesh/snorlax.git
    targetRevision: master
    path: k8s/apps/uptime-kuma/overlays/prod
  destination:
    server: https://kubernetes.default.svc
    namespace: dev-environment
  syncPolicy:
    automated:
      prune: true
      selfHeal: true