apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps-custom
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/wekamlesh/snorlax.git
    targetRevision: master # Or your local branch if valid
    path: k8s/apps/app-of-apps/overlays/custom # Points to your custom overlay
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
